CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Makefile
bin/
cmake_install.cmake
lib/
src/CMakeCache.txt
src/CMakeFiles/
src/CMakeLists.txt
src/Makefile
src/cmake_install.cmake
src/libsimpleLibrary.a
tests/CMakeCache.txt
tests/CMakeFiles/
tests/CMakeLists.txt
tests/Makefile
tests/cmake_install.cmake
tests/lib/